body{
    margin: 20px;
    background-color: rgba(80, 80, 80, 0.5);
    padding-top: 20px;
    font-family: roboto;
}

h1{
    margin: 20px;
    font-size: 2.4em;
    color: white;
    background-color: gray;
    text-align: center;
}

input[type="button"]{
    background-color: rgba(80, 80, 80, 0.5);
    color: white;
    font-size: 18px;
    width: 120px;
    height: 50px;
}

input{
    height: 40px;
    border-radius: 8px;
    margin: 20px;
    font-size: 1em;
}

#indexRmv{
    width: 168px;
}

input[type="radio"]{
    margin: 8px;
    height: 0px;
}

table{
    padding: 20px;
}

table td{
    border: 1px dashed black;
    border-radius: 4px;
    padding: 24px;
    margin-right: 20px;
}